astroid==2.3.1
beautifulsoup4==4.8.1
certifi==2019.9.11
chardet==3.0.4
ExifRead==2.1.2
ffmpeg-python==0.2.0
future==0.18.0
html5lib==1.0.1
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.2
loguru==0.3.2
mccabe==0.6.1
progress==1.5
progressbar==2.5
pylint==2.4.2
requests==2.22.0
six==1.12.0
soupsieve==1.9.4
tqdm==4.36.1
typed-ast==1.4.0
urllib3==1.25.6
webencodings==0.5.1
wrapt==1.11.2
