astroid==2.3.1
autopep8==1.5.3
beautifulsoup4==4.8.1
certifi==2019.9.11
chardet==3.0.4
click==7.1.2
ExifRead==2.1.2
ffmpeg-python==0.2.0
Flask==1.1.2
Flask-Sockets==0.2.1
future==0.18.0
gevent==20.9.0
gevent-websocket==0.10.1
greenlet==0.4.17
html5lib==1.0.1
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.2
loguru==0.3.2
MarkupSafe==1.1.1
mccabe==0.6.1
peewee==3.13.3
progress==1.5
progressbar==2.5
pycodestyle==2.6.0
pylint==2.4.2
requests==2.22.0
six==1.12.0
soupsieve==1.9.4
toml==0.10.1
tqdm==4.36.1
typed-ast==1.4.0
urllib3==1.25.6
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.11.2
zope.event==4.5.0
zope.interface==5.2.0
