{% extends "base.html" %}

{% block title %}
{{ play.title }}
{% endblock %}

{% block header %}
    <h1>{{ play.id }} {{ play.title }} <a href="/" style="float: right;margin-right: 20px;">回到首页</a></h1>
{% endblock %}
{% block content %}
  <table class="table">
        <thead>
        <tr>
            <th>id</th>
            <th>cid</th>
            <th>标题</th>
            <th>文件大小</th>
            <th>原视频大小</th>
            <th>下载进度</th>
            <th>是否已下载</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr class="{{ "success" if video.file_size == video.size else "" }}">
                <td>{{ video.id }}</td>
                <td>{{ video.cid }}</td>
                <td>{{ video.title }}</td>
                <td>{{ video.file_size }}</td>
                <td>{{ video.size }}</td>
        <td>

                {% if video.size > 0%}
        {{(video.file_size / video.size)*100 }}
                {% else %}
        0
                        {% endif %}
        </td>

                <td>{{ "已下载" if video.file_size == video.size else "未下载" }}</td>
                <td onclick="download({{ video.id }})">
                    <button class="btn btn-primary">
                        下载
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block js %}
<script>
    function download(id) {
        // 为给定 ID 的 user 创建请求
        axios.get('/download_video/' + id)
            .then(function (response) {
                console.log(response);
            })
            .catch(function (error) {
                console.log(error);
            });
    }
</script>
{% endblock %}
