{% extends "base.html" %}

{% block content %}


    <table class="table">
        <thead>
        <tr>
            <th>标题</th>
            <th>aid</th>
            <th>bvid</th>
            <th>时间长度</th>
            <th>发布时间</th>
            <th>视频数量</th>
            <th>是否已加入</th>
            <th>操作</th>
        </tr>
        </thead>
        {% for item in list %}
            <tr class="{{ 'success' if item.is_join else "" }}">
                <th>{{ item.title }}</th>
                <th>{{ item.aid }}</th>
                <th>{{ item.bvid }}</th>
                <th>{{ item.length }}</th>
                <th>{{ item.created|datetime }}</th>
                <th>{{ item.video_review }}</th>
                <th>{{ '已加入' if item.is_join else "未加入" }}</th>
                <th>
                    <button class="btn btn-primary" onclick="join('{{ item.bvid }}')">
                        加入列表
                    </button>
                </th>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block js %}

    <script>
        function join(bvid) {
            axios.post("/play_list/" + bvid).then((res) => {
                if (res.status == 200) {
                    console.log(res.data)
                    if (res.data.msg == 'ok') {
                        alert(res.data.msg)
                        window.location.href = '/play/' + res.data.data
                    }
                }
            })
        }
    </script>
{% endblock %}
