<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="//unpkg.com/element-ui@2.14.0/lib/theme-chalk/index.css">

<style>
  .el-table .warning-row {
    background: oldlace;
  }

  .el-table .success-row {
    background: #f0f9eb;
  }
</style>
</head>
<body>
<div id="app">
    <template>
        <h1>{{play.id}} {{play.title}}</h1>
        <el-table
                :data="tableData"
                style="width: 100%"
                :row-class-name="tableRowClassName"
        >
            <el-table-column label="ID" prop="id"></el-table-column>
            <el-table-column label="cid" prop="cid"></el-table-column>
            <el-table-column label="标题" prop="title"></el-table-column>
            <el-table-column label="是否完成">
                <template slot-scope="scope">
                    <span v-text="scope.row.is_completed ? '已完成' : '未完成'">1212</span>
                </template>
            </el-table-column>
            <el-table-column>
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            type="primary"
                            @click="handleDownload(scope.$index, scope.row)">下载
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    </template>
</div>
<script src="//unpkg.com/vue/dist/vue.js"></script>
<script src="//unpkg.com/element-ui@2.14.0/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    let data = {{videos | tojson}}
    console.log(data[0])
    var Main = {
        data() {
            return {
                tableData: data
            }
        },
        methods: {
            tableRowClassName({row, index}) {
                console.log(row)
                if (row.is_completed == true){
                    return 'success-row';
                } else {
                    return '';
                }
            },
            handleDownload(index, video) {
                console.log(index)
                console.log(video)
                this.download(video.id)
            },
            download(id) {
                // 为给定 ID 的 user 创建请求
                axios.get('/download_video/' + id)
                    .then(function (response) {
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    }
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')

</script>
<script>
            var ws = new WebSocket("ws://127.0.0.1:6000/test")

            ws.onmessage = function (event) {
                console.log(event)
            };

    </script>
</body>
</html>
